:root {
    --background: rgb(253, 253, 253);
    --header-background: lightgrey;
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--header-background);
}

main {
    padding: 20px;
    grid-template-rows: 190px 760px 1fr;
    display: flex;
}

h1 {
    font-size: 16px;
    font: 'sans-serif';
    color: purple;
    margin: 3px 5px 0px;
}

.search-bar {
    size: 20px 60px;
}
