body {
    font-family: sans-serif;
    background-color: white;
}

header {
    background-color: lightgray;
    height: 30px;
    width: 1fr;
}

main {
    grid-template-rows: 190px 1000px 1fr;
}

h1 {
    font-size: 16px;
    font: 'sans-serif';
    color: purple;
    margin: 3px 5px 0px;
}

.search-bar {
    position: absolute;
    top: 355px;
    left: 575px;
    height: 2em;
    width: 70%;
    padding: 0 3px 0 8px;
}

.navigation-selector {
    padding: 5px;
}

.county-selector {
    padding: 5px;
}

.community-selector {
    padding: 5px;
}
